.hero-detail {
  color: #000;
  padding: 30px 36px;
  border-radius: 12px;
  box-shadow: 0 0 20px #d8e0e6;
  background-color: #fff;
}
.hero-detail-base {
  float: left;
  width: 220px;
  padding: 0 10px;
  text-align: center;
  img {
    display: block;
  }
  span {
    display: block;
    text-align: left;
    margin-top: 10px;
  }
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.hero-detail-content {
  width: 100%;
  padding: 0 20px 0 240px;
}
.hero-detail-bio {
  p {
    text-indent: 2em;
  }
}
.hero-detail-talent-tree {
  .talent_ul {
    padding: 10px 13px 10px;
    list-style: none;
    li {
      white-space: nowrap;
      margin-top: 10px;
      background-color: #f5f5f5;
    }
  }
  .talent-explain {
    display: inline-block;
    width: 45%;
    height: 48px;
    text-align: center;
    line-height: 48px;
  }
  .level-external {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 48px;
    text-align: center;
    vertical-align: top;
  }
  .level-interior {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    line-height: 46px;
    background-color: #343a40;
    color: #e7d291;
    font-size: 18px;
    text-shadow: 0 0 5px #fd6a29, 0 0 5px #fd6a29;
    border: 2px solid #2c2f33;
    border-radius: 50%;
    transform: translate(-50%, -50%)
  }
}