.item-info-wrapper {
  color: #c4c0c0;
  .title {
    font-size: 30px;
    text-align: center;
  }
  .item-info {
    text-align: left;
    padding: 0 40px;
    .item-left {
      float: left;
    }
    .item-right {
      margin-left: 200px;
    }
    .itemName {
      font-size: 24px;
      color: #fff;
    }
    .cost-gold {
      margin-bottom: 6px;
    }
    .icon-gold {
      display: inline-block;
      width: 25px;
      height: 17px;
      background: url(../../../assets/images/gold.png);
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: 5px;
    }
    .itemImg {
      width: 120px;
      height: auto;;
    }
    .itemDesc {
      font-size: 18px;
      color:#c0c0c0;
      .items_p2 {
        color: #afafaf;
      }
      .items_p2:before {
        content: '+';
      }
      .items_p5 {
        .ico2, .ico1 {
          position: relative;
          display: inline-block;
          margin-right: 30px;
          padding-left: 26px;
          vertical-align: middle;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            height: 100%;
            vertical-align: middle
          }
        }
        .ico2::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 18px;
          height: 18px;
          margin-right: 8px;
          margin-top: -9px;
          vertical-align: middle;
          background: url(../../../assets/images/cooldown.png)
        }
        .ico1::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 18px;
          height: 18px;
          margin-right: 8px;
          margin-top: -9px;
          vertical-align: middle;
          background: url(../../../assets/images/mana.png)
        }
      }
    }
  }
  &.clearfix {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}