{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "jsx": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
      "semi": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/extensions": 0,
      "comma-dangle": 0,
      "import/no-unresolved": 0,
      "import/prefer-default-export": 0,
      "no-shadow": 0,
      "react/jsx-one-expression-per-line": 0,
      "react/jsx-first-prop-new-line":  0,
      "react/require-default-props": 0,
      "react/prop-types": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "no-console": 0,
      "prefer-destructuring": 0,
      "react/prefer-stateless-function": 0,
      "react/forbid-prop-types": 0,
      "no-plusplus": 0,
      "jsx-a11y/no-noninteractive-element-interactions": 0,
      "jsx-a11y/click-events-have-key-events": 0
  }
}