.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '
    area1 area2
    area3 area4
  '
}

.dashboard__champion-chart {
  grid-area: area1
}

.dashboard__champion-chart2 {
  grid-area: area2
}

.dashboard__champion-chart3 {
  grid-area: area3
}

.dashboard__champion-chart4 {
  grid-area: area4
}