.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'area1 area2' 'area3 area4';
  grid-gap: 20px
}

.dashboard__panel {
  min-width: 360px;
  padding: 20px;
  background-color: #f0f2f5;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

.dashboard__champion-chart {
  grid-area: area1
}

.dashboard__champion-carousel {
  grid-area: area2;
  .carousel__title {
    font-weight: bold;
    margin-bottom: 20px
  }
  .carousel-warpper {
    width: 600px;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    .slick-dots {
      bottom: 0;
    }
  }
}

.dashboard__team-pie {
  grid-area: area3
}

.dashboard__team-rate {
  grid-area: area4
}