.sidebar-trigger {
  font-size: 18px;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}
.header-uesrinfo {
  float: right;
  height: 36px;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  .header-popover {
    padding: 4px;
  }
  .avatar {
    vertical-align: middle;
    margin-right: 5px;
  }
  .nickname {
    vertical-align: middle
  }
}
.header-user-menu {
  .menu-item {
    padding: 4px;
    cursor: pointer;
    &:hover {
      .menu-btn, .anticon {
        color: #1890ff
      }
    }
  }
  .menu-btn {
    margin-left: 5px;
    text-decoration: none;
  }
}
.header-weather-info {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  color: white;
  font-size: 14px;
  span {
    margin-right: 4px;
  }
}