.ui-archive {
    padding: 15px 35px;
    box-shadow: 0 0 8px #666;
    background-color: #fff;
}
.ui-archive-header {
    padding: 10px 0 15px;
    border-bottom: 1px dotted #ccc
}
.ui-archive-body {
    padding: 10px 0;
    margin-top: 15px
}