.home-carousel-wrapper .slick-dots li.slick-active button {
    background: #393D49
}
.home-carousel-wrapper .slick-dots li button {
    background: #393D49
}
.home-carousel-wrapper .slick-slide img {
    display: inline-block;
    height: 100%;
    width: auto;
}
.home-carousel-wrapper .slick-slider .slick-track {
    height: 320px;
}
.home-carousel-wrapper {
    box-shadow: 0 0 5px #555;
    text-align: center
}
.btn-show-all {
    display: inline-block;
    width: 100%;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px #a8a8a8;
    &:hover {
        font-weight: 700;
        box-shadow: 0 0 16px #aaa;
    }
}