.login-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 340px;
  height: 260px;
  margin: auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.login-form-button {
  width: 100%
}