.me-header {
    height: 72px;
    padding: 0 75px;
    line-height: 72px;
    background: url(../../assets/images/data2.home.nav.hover.bg.png) repeat-x;
    background-size: auto 100%;
}

.me-logo {
    display: inline-block;
    width: 259px;
    height: 40px;
    vertical-align: middle;
    background: url(../../assets/images/dota2-logo.png);
}

.nav-main {
    display: inline-block;
    height: 100%;
    padding: 0 25px;
    vertical-align: top;
}

.nav-main-item {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    color: rgba(255, 255, 255, .7);
    box-sizing: border-box;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #ba161d;
        opacity: 0;
        transition: all 0.24s ease-out;
    }
    &:hover,
    &.active {
        color: #fff;
        text-decoration: none;
        &:before {
            opacity: 1;
            left: 0;
            width: 100%;
        }
    }
}